* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .form {
    width: 80%;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  
  span,
  i {
    font-size: 42px;
    color: rgb(79, 123, 167);
  }
  h1 {
    font-size: 42px;
  }
  
  p {
    font-size: 20px;
    color: rgb(84, 81, 81);
    margin-top: 20px;
  }
  
  input {
    width: 100%;
    border: 2px solid rgb(194, 194, 194);
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
  
  .radio {
    width: 17px;
    height: 17px;
    border: 1px solid gray;
    margin: 10px;
  }
  label {
    font-size: 19px;
  }
  
  button {
    width: 100%;
    margin-top: 27px;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(79, 123, 167);
    border: 1px solid rgb(142, 149, 154);
    color: white;
  }
  
  table {
    width: 100%;
    border: 1px solid black;
    margin: auto;
    font-size: 18px;
  }
  
  table tr th {
    padding: 20px 0px;
    text-align: center;
  }
  
  table td {
    padding: 20px 0px;
    text-align: center;
  }